<!DOCTYPE html>
<html lang="KR">
<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <title>FEW</title>
</head>
<body
    style="
      margin: 0 auto;
      width: 100%;
      max-width: 480px;
      font-family: 'Pretendard Variable', Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
        'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
        background-color: #ffffff;
    "
>
<table
    align="center"
    width="100%"
    cellpadding="0"
    cellspacing="0"
    style="max-width: 480px; width: 100%; background-color: #ffffff; color : #000000"
>
    <tr>
        <td style="padding: 30px 20px">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center">
                        <img
                            src=" https://eehhqckznniu25210545.cdn.ntruss.com/images/2024-07-04/Thz2rKkvTB0j14RG.jpg"
                            alt="few_logo"
                            style="display: block; margin: 0 auto"
                        />
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 12px 0">
                        <p
                            style="
                    margin: 0;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 500;
                  "
                            id="current-date"
                            th:text="${currentDate}"
                        ></p>
                        <a
                            th:href="${articleLink}"
                            target="_blank"
                            style="
                    text-decoration: underline;
                    color: #484848;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 500;
                  "
                        >웹으로 읽을래요!</a
                        >
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 20px">
            <table
                cellpadding="0"
                cellspacing="0"
                border="0"
                style="table-layout: auto"
            >
                <tr style="gap: 12px">
                    <td colspan="1">
                <span
                    style="
                    background-color: #f5f5f5;
                    padding: 6px 4px;
                    color: #484848;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 500;
                    width: fit-content;
                  "
                    th:text="${category}"
                    id="category"
                ></span>
                        <span
                            style="
                    background-color: #f5f5f5;
                    padding: 6px 4px;
                    color: #484848;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 500;
                    margin-left: 10px;
                    width: fit-content;
                  "
                            id="current-day"
                            th:text="${articleDay}"
                        ></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 20px">
                        <h1
                            style="
                    margin: 0;
                    font-size: 28px;
                    line-height: 42px;
                    font-weight: 700;
                    color: black;
                  "
                            id="article-title"
                            th:text="${articleTitle}"
                        ></h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="padding-top: 20px">
                  <span
                      style="
                      color: #a5a5a5;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: normal;
                    "
                  >작가</span
                  >
                        <span
                            style="
                      color: #484848;
                      font-size: 16px;
                      margin-left: 8px;
                      font-weight: 700;
                      line-height: normal;
                    "
                            id="writer-name"
                            th:text="${writerName}"
                        ></span
                        >
                        <a
                            th:href="${writerLink}"
                            id="writer-link"
                            target="_blank"
                            style="vertical-align: middle"
                        >
                            <img
                                src="https://eehhqckznniu25210545.cdn.ntruss.com/images/2024-07-04/HFYlYJaAdCRcCdjd.jpg"
                                alt="next"
                            />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td
                        colspan="2"
                        style="
                  padding: 20px 0;
                  font-size: 16px;
                  line-height: 25.44px;
                  font-weight: 400;
                "
                        id="article-content"
                        th:utext="${articleContent}"
                    ></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 20px">
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100%">
                <tr>
                    <td colspan="2" align="center" style="padding-top: 20px">
                        <a
                            th:href="${problemLink}"
                            target="_blank"
                            style="
                    display: block;
                    width: 100%;
                    padding: 17px 0;
                    text-align: center;
                    color: #ffffff;
                    background-color: #264932;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 500;
                    font-family: 'Pretendard Variable';
                  "
                        >문제 풀러 가기</a
                        >
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 30px 20px; text-align: center">
            <table align="center">
                <tr>
                    <td style="padding: 0 6px">
                        <a href="https://www.instagram.com/few.letter/" target="_blank">
                            <img
                                src=" https://eehhqckznniu25210545.cdn.ntruss.com/images/2024-07-04/1ksEPTfnQ1XYnZyk.jpg"
                                alt="instagram"
                            />
                        </a>
                    </td>
                    <td style="padding: 0 6px">
                        <a href="https://www.fewletter.com" target="_blank">
                            <img
                                src=" https://eehhqckznniu25210545.cdn.ntruss.com/images/2024-07-04/8bCemrlqO08QHNrT.jpg"
                                alt="link"
                            />
                        </a>
                    </td>
                </tr>
            </table>
            <p
                style="
              margin: 10px 0 0 0;
              font-size: 14px;
              line-height: 21px;
              font-weight: 500;
              color: #a5a5a5;
            "
            >
                <a
                    th:href="${unsubscribeLink}"
                    target="_blank"
                    style="text-decoration: underline; color: #a5a5a5"
                >수신거부</a
                >
            </p>
        </td>
    </tr>
</table>
</body>
</html>
