name: CI Process

on:
    push:
        branches: [ "main" ]
    workflow_dispatch:

permissions:
    contents: read

env:
    RELEASE_VERSION: ${{ github.sha }}
    MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with:
                  java-version: '17'
                  distribution: 'temurin'

            - name: Jooq Code Generation
              run: |
                  ./gradlew --info jooqCodegenAll

            - name: Test with Gradle
              run: |
                  ./gradlew --info test

            - name: Build with Gradle
              run: |
                  ./gradlew --info api:build -x test

            - name: Generate OpenAPI3
              run: |
                  ./gradlew --info api:openapi3 -PserverUrl=https://api.fewletter.site

            - name: Generate Swagger
              run: |
                  ./gradlew --info api:generateStaticSwaggerUIApi

            - name : Docker Login
              run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

            - name: Build Docker Image
              run: |
                  ./gradlew --info api:buildDockerImage -PreleaseVersion=${{ env.RELEASE_VERSION }}
